body {
  font-size: 18px;
  font-family: Helvetica;
}

/* Company Head Section  */

.companyname {
  background-color: black;
  color: white;
}

.headcontainer {
  max-width: 960px;
  margin: auto;
  padding: 0.66rem;
}

.companyname .headcontainer {
  display: flex;
  align-items: center;
}

.headcontainer img {
  margin-left: 0.5rem;
  margin-right: 1rem;
  height: 1.5rem
}

.headcontainer span {
  font-size: 1rem;
}

/* Banner Section */

.banner {
  background-image: url("../../resources/images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.bannertext {
  background: black;
  color: white;
  flex-direction: column;
  display: inline-flex;
  font-weight: bold;
  width: 20rem;
  margin-top: 9rem;
  margin-left: 30.5rem;
  padding: 2rem 3rem;
}

.bannertext .newarrivals {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.bannertext .sport {
  font-size: 2rem;
}

/* Navigation Section  */

nav {
  width: 100%;
  background-color: firebrick;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navtext {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.navtext span {
  padding: 3.2rem;
}

/* Products  */

.prodcontainer {
  width: 960px;
  margin: auto;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.pen,
.watch,
.glasses {
  width: 30%;
}

.prodimage {
  border: 4px solid black;
  padding: 2rem;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prodimage img {
  max-width: 8rem;
}

.des {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
  display: block;
}

/* Business Info */

.buscontainer {
  width: 960px;
  margin: auto;
}

.infocontainer {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.location,
.tradinghours {
  width: 35%;
}

.locword,
.title {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

.location span,
.tradinghours span {
  display: block;
}
